__pycache__/
*.pyc
.ipynb_checkpoints/

.venv/
env/
*.egg-info/
.jupyter_config/migrated
.mplconfig/fontlist-v390.json

.DS_Store
specs/

data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
